Backup1/Web References/primeRate/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="www.primerateonline.net/FinanceSrvc" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="www.primerateonline.net/FinanceSrvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Prime Rate Premium Finance Web Services</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="www.primerateonline.net/FinanceSrvc">
      <s:element name="CalcFinancing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcFinancingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalcFinancingResult" type="tns:TSrvcResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TSrvcResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:TResponseStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="Document" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TResponseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="sOK" />
          <s:enumeration value="sBusy" />
          <s:enumeration value="sFailed" />
          <s:enumeration value="sLoginFailed" />
          <s:enumeration value="sConnectionFailed" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GenAccountNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenAccountNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenAccountNumberResult" type="tns:TSrvcResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenContractResult" type="tns:TSrvcResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveContractResult" type="tns:TSrvcResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogEvents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aDoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogEventsResult" type="tns:TSrvcResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalcFinancingSoapIn">
    <wsdl:part name="parameters" element="tns:CalcFinancing" />
  </wsdl:message>
  <wsdl:message name="CalcFinancingSoapOut">
    <wsdl:part name="parameters" element="tns:CalcFinancingResponse" />
  </wsdl:message>
  <wsdl:message name="GenAccountNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GenAccountNumber" />
  </wsdl:message>
  <wsdl:message name="GenAccountNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GenAccountNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GenContractSoapIn">
    <wsdl:part name="parameters" element="tns:GenContract" />
  </wsdl:message>
  <wsdl:message name="GenContractSoapOut">
    <wsdl:part name="parameters" element="tns:GenContractResponse" />
  </wsdl:message>
  <wsdl:message name="SaveContractSoapIn">
    <wsdl:part name="parameters" element="tns:SaveContract" />
  </wsdl:message>
  <wsdl:message name="SaveContractSoapOut">
    <wsdl:part name="parameters" element="tns:SaveContractResponse" />
  </wsdl:message>
  <wsdl:message name="LogEventsSoapIn">
    <wsdl:part name="parameters" element="tns:LogEvents" />
  </wsdl:message>
  <wsdl:message name="LogEventsSoapOut">
    <wsdl:part name="parameters" element="tns:LogEventsResponse" />
  </wsdl:message>
  <wsdl:portType name="Prime2006WSSoap">
    <wsdl:operation name="CalcFinancing">
      <wsdl:input message="tns:CalcFinancingSoapIn" />
      <wsdl:output message="tns:CalcFinancingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenAccountNumber">
      <wsdl:input message="tns:GenAccountNumberSoapIn" />
      <wsdl:output message="tns:GenAccountNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenContract">
      <wsdl:input message="tns:GenContractSoapIn" />
      <wsdl:output message="tns:GenContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveContract">
      <wsdl:input message="tns:SaveContractSoapIn" />
      <wsdl:output message="tns:SaveContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogEvents">
      <wsdl:input message="tns:LogEventsSoapIn" />
      <wsdl:output message="tns:LogEventsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Prime2006WSSoap" type="tns:Prime2006WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcFinancing">
      <soap:operation soapAction="www.primerateonline.net/FinanceSrvc/CalcFinancing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenAccountNumber">
      <soap:operation soapAction="www.primerateonline.net/FinanceSrvc/GenAccountNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenContract">
      <soap:operation soapAction="www.primerateonline.net/FinanceSrvc/GenContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveContract">
      <soap:operation soapAction="www.primerateonline.net/FinanceSrvc/SaveContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogEvents">
      <soap:operation soapAction="www.primerateonline.net/FinanceSrvc/LogEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Prime2006WSSoap12" type="tns:Prime2006WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcFinancing">
      <soap12:operation soapAction="www.primerateonline.net/FinanceSrvc/CalcFinancing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenAccountNumber">
      <soap12:operation soapAction="www.primerateonline.net/FinanceSrvc/GenAccountNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenContract">
      <soap12:operation soapAction="www.primerateonline.net/FinanceSrvc/GenContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveContract">
      <soap12:operation soapAction="www.primerateonline.net/FinanceSrvc/SaveContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogEvents">
      <soap12:operation soapAction="www.primerateonline.net/FinanceSrvc/LogEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Prime2006WS">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Prime Rate Premium Finance Web Services</wsdl:documentation>
    <wsdl:port name="Prime2006WSSoap" binding="tns:Prime2006WSSoap">
      <soap:address location="https://webapps.primerateonline.net/primesrvc/service.asmx" />
    </wsdl:port>
    <wsdl:port name="Prime2006WSSoap12" binding="tns:Prime2006WSSoap12">
      <soap12:address location="https://webapps.primerateonline.net/primesrvc/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>